#author { font-family:'Arial','Tahoma',sans-serif; font-size:12pt; }
#help { font-family:'Arial','Tahoma',sans-serif; font-size:12pt; }
#manual { font-family:'Arial','Tahoma',sans-serif; font-size:12pt; }

