#author { font-family:sans-serif; font-size:16pt; }
#help { font-family:sans-serif; font-size:16pt; }
#manual { font-family:sans-serif; font-size:16pt; }
#license { font-family:sans-serif; font-size:15pt; }
.license_mono { font-family:'Menlo','Monaco',monospace; font-size:12pt; line-height: 110%; }

