#author { font-family:'Arial','Tahoma',sans-serif; font-size:12pt; }
#help { font-family:'Arial','Tahoma',sans-serif; font-size:12pt; }
#manual { font-family:'Arial','Tahoma',sans-serif; font-size:12pt; }
#license { font-family:'Arial','Tahoma',sans-serif; font-size:11pt; }
.license_mono { font-family:'Courier New',monospace; font-size:9pt; line-height: 110%; }

