#!/usr/bin/make -f

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp

build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean

binary-indep: build

binary-arch: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	cp -a usr/* debian/pendulum/opt/Pendulum
	ln -s /opt/Pendulum/share/applications/com.github.aliencoweatcake.pendulum.desktop debian/pendulum/usr/share/applications/com.github.aliencoweatcake.pendulum.desktop
	sed -i 's|^Exec=pendulum|Exec=/opt/Pendulum/bin/pendulum|' debian/pendulum/opt/Pendulum/share/applications/com.github.aliencoweatcake.pendulum.desktop
	find debian/pendulum/opt/Pendulum/share/icons -name 'com.github.aliencoweatcake.pendulum.*' -print | while read -r ICON_PATH ; do \
		ICON_LINK_TARGET=$$(echo $${ICON_PATH} | sed 's|^debian/pendulum||') ; \
		ICON_LINK_PATH=$$(echo $${ICON_PATH} | sed 's|/opt/Pendulum/|/usr/|') ; \
		mkdir -p $$(dirname $${ICON_LINK_PATH}) ; \
		ln -s $${ICON_LINK_TARGET} $${ICON_LINK_PATH} ; \
	done
	dh_fixperms
	dh_installdeb
	dh_shlibdeps --exclude=debian/pendulum/opt/Pendulum/plugins/platformthemes --exclude=debian/pendulum/opt/Pendulum/plugins/styles
	dh_gencontrol
	dh_md5sums
	dh_builddeb

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
